extends layout
block linkcss
    link(rel="stylesheet",href="/stylesheets/desert.css")
    link(rel="stylesheet",href="/stylesheets/showmd.css")
block content
    .container#content
        .affix.hidden-xs.col-sm-2.col-md-2.col-lg-2.col-sm-pull-10.col-md-pull-10.col-lg-pull-10#nav
            ul#tree.nav
                li
                    a.active(href="#") A
                li
                    a(href="#") B
                    ul.nav
                        li
                            a(href="#") a
                        li
                            a(href="#") b
        .col-xs-12.col-sm-offset-2.col-md-offset-2.col-lg-offset-2.col-sm-10.col-md-10.col-lg-10#article
            | !{content}

block jsfile
    script(type='text/javascript', src='/javascripts/lib/prettify.js')
    script(type='text/javascript', src='/javascripts/showmd.js')
