#content {
    margin-top:60px;
}

#nav {
    border-right:1px #DDD solid;
}

#tree > li > a {
    font-size: 16px;
    padding: 5px 10px;
    color:#666;
    font-weight:200;
}

#tree > li > a:hover{
    background-color: #F0F0F0;
    color: #000;
    font-weight: 400;
}

#tree > li > a.active {
    font-weight:900;
    color:#000;
}

#tree ul {
    display:none;
}

.show {
    display:block;
}

#tree > li > ul > li > a {
    color:#888
    font-size: 14px;
    padding: 5px 10px 5px 25px;
    font-weight:200;
}